
<div class="hd">
    <div class="hd__boxInside">
      <div class="hd__leftBox">
        <i class="fa-solid fa-phone icon1"></i>
        <p>0322 22 00</p>
      </div>
  
      <div class="hd__rightBox">
        <button class="hd__flag-btn" aria-label="Switch to Georgian">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg" alt="Geo" />
        </button>
        <button class="hd__flag-btn" aria-label="Switch to English">
          <img src="https://media.istockphoto.com/id/537635560/de/foto/amerikanische-flagge-hd-hintergrund-flagge-von-den-usa.jpg?s=170667a&w=0&k=20&c=OyTxFsnjzH8MbOTo5iZfw8MKqarhxwGPIM1BhuuCo64=" alt="Eng" />
        </button>
      </div>
    </div>
  </div>
  