@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin flex-right{
  display: flex;
  justify-content: right;
  align-items: center;
}

@mixin flex-left{
  display: left;
  justify-content: left;
  align-items: center;
}