<!-- <section class="error-page">
    <div class="error-page__container">
      <h1 class="error-page__code">{{ errorCode }}</h1>
      <h2 class="error-page__message">{{ errorMessage }}</h2>
      <p class="error-page__text">
        Please return to home page
      </p>
      <a routerLink="/" class="error-page__button">Homepage</a>
    </div>
  </section>
   -->

   <div class="error-container">
    <div class="error-box">
      <h1 class="error-code">404</h1>
      <p class="error-text">Oops! The page you are looking for does not exist.</p>
  
      <button class="back-btn" (click)="goHome()">
        ⬅ Go Back Home
      </button>
    </div>
  </div>
  